<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <configSections>
    <section name="developersettings" type="CustomConfigurations.ConfigurationSectionLoader, CustomConfigurations"/>
  </configSections>

  <appSettings>
    <add key="myoverridekey" value="jonDevAppSettingTest" />
  </appSettings>
  

  <developersettings>
    <Configs>
      <ConfigurationGroup name="global">
        <ValueItems>
          <ValueItem key="ConnectionStringName" value="valueabc"/>
          <ValueItem key="SomeCount" value="5"/>
          <ValueItem key="SomePath" value="C:\temp\mypath"/>
        </ValueItems>
      </ConfigurationGroup>
      
      <ConfigurationGroup name="myenvvar">
        <ValueItems>
          <ValueItem key="SomeCount" value="6" />
        </ValueItems>
      </ConfigurationGroup>

      <ConfigurationGroup name="jonDevAppSettingTest">
        <ValueItems>
          <ValueItem key="SomeCount" value="7" />
        </ValueItems>
      </ConfigurationGroup>

      <ConfigurationGroup name="mymachineName">
        <ValueItems>
          <ValueItem key="SomePath" value="E:\work" />
        </ValueItems>
      </ConfigurationGroup>
      
    </Configs>
  </developersettings>
  
</configuration>


